/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

@font-face {
    font-family: "UrbanistBold";
    src: local("UrbanistBold"), url("./fonts/Urbanist/Urbanist-Bold.ttf") format("truetype");
    font-weight: bold;
}

.font-face-gm {
    font-family: "UrbanistBold";
}

.stick-the-navbar {
    position: sticky;
    top: 0;
}
/*  */
