.Container {
    flex: 1;
    margin: 1% 4px 4px 4px;
    height: 50vh;
    position: relative;
    cursor: pointer;
}

.Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Title {
    color: white;
    margin-bottom: 20px;
}

.Desc {
    color: whitesmoke;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
}

.Buttonc {
    border: none;
    background-color: white;
    color: rgb(199, 199, 199);
}

.BigContainer {
    display: flex;
    flex-direction: row;
    padding: 20;
    justify-content: space-between;
}
/* [1] The container */
.img-hover-zoom {
    height: 50vh; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

    /* [2] Transition property for smooth transformation of images */
    .img-hover-zoom img {
        transition: transform .5s ease;
    }

    /* [3] Finally, transforming the image when container gets hovered */
    .img-hover-zoom:hover img {
        transform: scale(1);
        filter: blur(1px);
    }
/* Quick-zoom Container */
.img-hover-zoom--quick-zoom img {
    transform-origin: 15 15;
    transition: transform .6s, visibility .6s ease-in;
}

/* The Transformation */
.img-hover-zoom--quick-zoom:hover img {
    transform: scale(1.2);
}

.showmoreCategory {
    height: 20vh;
    padding: 4px;
    position: relative;
}

.showmoreText {
    color: white;
}

.showmoreBorder {
    border-radius: 5px;
}

.showmoreImage {
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
}

.showmoreInfo {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showmore-img-hover-zoom {
    height: 100%;
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

    /* [2] Transition property for smooth transformation of images */
    .showmore-img-hover-zoom img {
        transition: transform .5s ease;
    }

/* [3] Finally, transforming the image when container gets hovered */
.showmoreimg-hover-zoom:hover img {
    transform: scale(1);
}
/* Quick-zoom Container */
.showmore-img-hover-zoom--quick-zoom img {
    transform-origin: 15 15;
    transition: transform .6s, visibility .6s ease-in;
}

/* The Transformation */
.showmore-img-hover-zoom--quick-zoom:hover img {
    transform: scale(1.2);
    filter: blur(1px);
}
