.BookCardsContainerGrid {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: minmax(200px, 600px) minmax(200px, 600px) minmax(200px, 600px);
}

.BookCard {
    flex: 1 0 30%;
    display: flex;
    margin: 2.5% 10px 10px 10px;
    flex-direction: column;
    background-clip: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: .25rem;
    background-image: linear-gradient(to right, rgba(255,250,130), rgba(254,220,112));
    clear: both;
    justify-content: center;
}

.BookCardTitle {
    height: 50px;
    font-size: 25px;
    padding-top: 20px;
    text-align: center;
}

.BookCardShow {
    color: #F3F6FB;
    position: absolute;
    margin-top: 110px;
    padding: 5px;
    font-size: 17px;
    background-color: transparent;
    cursor: pointer;
    z-index: 0;
    background-color: #AF0808;
    cursor: pointer;
    transition: all 250ms ease-in-out
}

    .BookCardShow:hover {
        background-color:  rgb(197, 103, 103);
    }

    .BookCardShow:focus {
        color: #F3F6FB;
        background-color: #AF0808;
        outline: none !important;
        outline-offset: none !important;
        box-shadow: none;
    }

.BookCardBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BookCardImg {
    padding-top: 10px;
    align-self: center;
    max-width: 100%;
    height: 70%;
    width: 80%;
}

.BookCardBody {
    flex: auto;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    position: relative;
    align-items: center;
}
.modal-header{
    background-color: #ffff66 !important;
    justify-content: center;
}
.modal-header .close {
    display:none;

  }
.ModalCardImg{
  width: 40%;

}
.ModalRight{
    color: black;
    float:right ; 
    display:inline;
    width: 420px;
    
}

.ModalTextSpacing{
    display: block;
    margin-bottom: 1px;
    font-size: 21px;
    font-weight:350;
}
.ModalDesc{
    text-align: center;
    font-size: 21px;
    font-weight:450;
}
.Desc{
    font-weight:350;
    color: black;
}
.Price{
    font-size: 24px;
    font-weight: 480;
}
.PriceText{
    font-weight: 500;
}
.CancelButton{
    transition: all 250ms ease-in-out;
    background-color: #66666E;
}
.BuyButton{
    transition: all 250ms ease-in-out;
    background-color: #AF0808;
}
.BuyButton:hover {
    background-color: rgb(197, 103, 103);
}
.CancelButton:hover {
    background-color: #7f7f8a;
}
.hr{
    margin-bottom: -20px;
}